

@tailwind base;
@tailwind components; 
@tailwind utilities;
@layer components{
    .top-row-box{
        @apply flex justify-center md:mt-10
    }
    .search-items{
        @apply flex flex-col items-center
    }
    .current-weather{
        @apply flex flex-col items-center sm:pr-5
    }
    .btn{
        @apply hover:bg-indigo-500 bg-orange-450 flex-initial sm:w-40 w-24 h-20 rounded-r-full
    }
    /* dynamic components */
    .flex-items-centered{
        @apply flex items-center
    }
    .default-text{
        @apply text-lg items-center text-stone-700
    }
    .header{
        @apply bg-indigo-500 w-full mx-auto md:h-24 h-20 border-b-8 border-orange-450 rounded flex items-center justify-center
    }
    .header-title{
        @apply text-3xl xs:text-4xl sm:text-5xl text-indigo-100 text-center align-text-bottom
    }
    .top-row-box-dyn{
        @apply md:flex-row md:justify-around flex-col  items-center
    }
    .search-title{
        @apply mt-5 mb-2 text-xl font-bold text-stone-700
    }
    .input-box{
        @apply h-20 rounded-l-full text-center
    }
    .h2-styling{
        @apply text-center text-5xl md:text-6xl text-stone-700
    }
    .city-header-box{
        @apply flex mt-5 lg:mr-5 lg:ml-4
    }
    .fxcol{
        @apply flex flex-col
    }
    .uvi-green{
        @apply border-2 border-green-400 border-solid rounded-xl bg-green-400
    }
    .uvi-yellow{
        @apply border-2 border-yellow-400 border-solid rounded-xl bg-yellow-400
    }
    .uvi-orange{
        @apply border-2 border-orange-400 border-solid rounded-xl bg-orange-400
    }
    .uvi-red{
        @apply border-2 border-red-400 border-solid rounded-xl bg-red-400
    }
    .uvi-purple{
        @apply border-2 border-purple-400 border-solid rounded-xl bg-purple-400
    }
    .five-day-box{
        @apply flex flex-wrap justify-center mx-1 mt-6 sm:flex-nowrap xs:mx-4 xs:gap-1 md:mt-16 lg:mt-20 lg:w-2/3 lg:float-right xl:mr-10
    }
    .five-day-header{
        @apply w-full h-fit text-center font-bold text-3xl text-stone-700 mb-4 sm:w-min md:w-full
    }
    .day-container{
        @apply border-2 border-stone-700 text-center bg-indigo-300 shadow-lg w-1/3 flex-grow items-center xs:flex-grow-0
    }
    .search-history{
        @apply bg-indigo-500 hover:bg-indigo-700 text-indigo-100 border-2 border-stone-700 hover:border-stone-500 m-1 text-center text-lg 
    }
}