@tailwind base; /* @layer base {overwrite default element styling}*/
@tailwind components; /* @layer components{custom style a component via utility classes*/
@tailwind utilities; /* @layer ultities{Create custom ulitily classes 
                        !-> MUST DEFINE @variants ->for ex: @variants hover,focus{
                            .p-21{padding 5.5rem;}
                        }*/

@layer components{
    .btn{
        @apply bg-blue-300 hover:bg-blue-500 flex-initial w-40 h-20
    }
}

.text-lg{
    font-size: 100px;
}