

@tailwind base; /* @layer base {overwrite default element styling}*/
@tailwind components; /* @layer components{custom style a component via utility classes*/
@tailwind utilities; /* @layer ultities{Create custom ulitily classes 
                        !-> MUST DEFINE @variants ->for ex: @variants hover,focus{
                            .p-21{padding 5.5rem;}
                        }*/
@layer components{
    .top-row-box{
        @apply flex justify-center md:mt-10
    }
    .search-items{
        @apply flex flex-col items-center
    }
    .current-weather{
        @apply flex flex-col items-center sm:pr-5
    }
    .btn{
        @apply hover:bg-indigo-500 bg-orange-450 flex-initial sm:w-40 w-24 h-20 rounded-r-full
    }
    /* dynamic components */
    .flex-items-centered{
        @apply flex items-center
    }
    .default-text{
        @apply text-lg items-center text-stone-700
    }
    .header{
        @apply bg-indigo-500 w-full mx-auto md:h-24 h-20 border-b-8 border-orange-450 rounded flex items-center justify-center
    }
    .header-title{
        @apply text-3xl xs:text-4xl sm:text-5xl text-indigo-100 text-center align-text-bottom
    }
    .top-row-box-dyn{
        @apply md:flex-row md:justify-around flex-col  items-center
    }
    .search-title{
        @apply mt-5 mb-2 default-text font-bold
    }
    .input-box{
        @apply h-20 rounded-l-full text-center
    }
    .h2-styling{
        @apply text-center text-5xl md:text-6xl text-stone-700
    }
    .city-header-box{
        @apply flex mt-5 lg:mr-5 lg:ml-4
    }
    .fxcol{
        @apply flex flex-col
    }
    .uvi-green{
        @apply border-2 border-green-400 border-solid rounded-xl bg-green-400
    }
    .uvi-yellow{
        @apply border-2 border-yellow-400 border-solid rounded-xl bg-yellow-400
    }
    .uvi-orange{
        @apply border-2 border-orange-400 border-solid rounded-xl bg-orange-400
    }
    .uvi-red{
        @apply border-2 border-red-400 border-solid rounded-xl bg-red-400
    }
    .uvi-purple{
        @apply border-2 border-purple-400 border-solid rounded-xl bg-purple-400
    }
    .eight-day-box{
        @apply flex sm:flex-row xs:flex-nowrap justify-center flex-wrap shadow-lg md:mt-16 mt-6 xs:mx-4 mx-1 xs:gap-1
    }
    .day-container{
        @apply border-2 border-black text-center bg-indigo-300 w-1/3 flex-grow items-center
    }
    .search-history{
        @apply bg-indigo-500 hover:bg-indigo-700 text-indigo-100 border-2 border-stone-700 hover:border-stone-500 m-1 text-center text-lg 
    }
}